<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43835481855-35lrjisd0buk9lj3o15872r2ea903gap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43835481855-35lrjisd0buk9lj3o15872r2ea903gap</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43835481855-f6957qd6pbcrhe57gfrcb8f1u78936si.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbgFn5I_HTbLHU7NbdDHMA-dvWO5D8Os8</string>
	<key>GCM_SENDER_ID</key>
	<string>43835481855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ba.iman.IMAN</string>
	<key>PROJECT_ID</key>
	<string>iman-ba</string>
	<key>STORAGE_BUCKET</key>
	<string>iman-ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:43835481855:ios:5e01d84018bdd2cc4db6ca</string>
	<key>DATABASE_URL</key>
	<string>https://iman-ba-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
